@model ContactViewModel
@{
    ViewData["Title"] = "Index";
}

<header class="header mt-3">
    <h2>Contactez-nous !</h2>
</header>
<br />

<div class="container">
    <div class="card">
        <div class="card-body">
            <form action="/Contact/SaveMessage" method="post">
                <div class="form-group">
                    <label for="name">Nom :</label>
                    <input type="text" id="name" name="name" value="@Model.Name" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="email">Email :</label>
                    <input type="email" id="email" name="email" value="@Model.Email" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="message">Message :</label>
                    <textarea id="message" cols="10" name="message" class="form-control" style="height:200px;" required>@Model.Message</textarea>
                </div>

                <br />
                <input type="submit" value="Envoyer" class="btn btn-outline-secondary" />
                <br />
                <br />
                @*<div class="widget-bottom" style="background-color: #333;">
                    @Html.ValidationSummary()
                </div>*@
            </form>
        </div>
    </div>
</div>