@model List<DetailFormationViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@*@section Scripts 
{
    <script>
        $(document).ready( function() { alert('Hi Nepht !'); } );
    </script>
}*@ 

  <header class="header mt-3">
    <h1>Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
  </header>

  <section class="advantages">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <i class="fas fa-check"></i>
          <h3>Authentiques</h3>
          <p>Des avis d'élèves bien réels.</p>
        </div>
        <div class="col-md-6">
          <i class="fas fa-glasses"></i>
          <h3>Transparence</h3>
          <p>Rien ne vous est caché.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <i class="fas fa-thumbs-up"></i>
          <h3>Plateforme indépendante</h3>
          <p>Pas de favoritisme.</p>
        </div>
        <div class="col-md-6">
          <i class="fas fa-dollar-sign"></i>
          <h3>Gratuit</h3>
          <p>Tout notre travail gratuit pour vous !</p>
        </div>
      </div>
    </div>
  </section>
  <hr />
<section class="section-badge bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 text-center pt-3">
                <h4>Professionnels de la formation, affichez notre badge sur</h4>
            </div>
            <div class="col-md-4 col-lg-4 text-center">
                <div class="card widget">
                    <div class="card-body">
                        @{
                            double note2 = 0;
                            foreach (var formation in Model)
                            {
                                note2 += formation.NoteMoyenne;
                            }
                            double noteFinale2 = 0;
                            noteFinale2 = (note2 * 5) / (Model.Count * 5);
                            noteFinale2 = Math.Round(noteFinale2);
                            <h6 class="card-title">
                                Avis élèves @noteFinale2/5
                                @for (int i = 1; i <= noteFinale2; i++)
                                {
                                    <span class="fa fa-star orange"></span>
                                }
                            </h6>
                        }
                        <div class="card-text">Avis récoltés par AvisFormations.Fr</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  <section class="formations">
    <div class="container">
      <div class="row">
        @foreach (var formation in Model)
        {
          <div class="col-md-6">
            <div class="formation-block">
              <p><a asp-controller="Formation" asp-action="DetailsFormation" asp-route-idFormation="@formation.Formation.Id">@formation.Formation.name</a></p>
              <p>Description de la formation: @formation.Formation.Descriotion</p>
              @if (formation.NoteMoyenne > 0)
              {
                <p>Note moyenne: @formation.NoteMoyenne/5</p>
              }
              else
              {
                <p>Aucun avis</p>
              }
            </div>
          </div>
        }
      </div>
    </div>
  </section>
